<h3><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h3>
<%= form_with model: @customer, url: admin_customer_path, method: :patch, local:true do |f| %>

  <div class="field">
    <font>会員ID</font>
    <%= @customer.id %>
  </div>

  <div class="field">
    <%= f.label "名前" %>
    <%= f.label :first_name, "(性)" %>
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.label :last_name, "(名)" %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "フリガナ" %>
    <%= f.label :first_name_kana, "(セイ)" %>
    <%= f.text_field :first_name_kana %>
    <%= f.label :last_name_kana, "(メイ)" %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label "電話番号" %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <font>会員ステータス</font>
    <%= f.radio_button :is_active, :true, checked: true %>
    <%= f.label :is_active, "有効" %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "退会" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存", class: "btn btn-success" %>
  </div>
<% end %>

