<h3><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</h3>
<div>
  <div>
    <p>会員ID <%= @customer.id %></p>
  </div>
  <div>
    <p>氏名 <%= @customer.first_name %><%= @customer.last_name %></p>
  </div>
  <div>
    <p>フリガナ <%= @customer.first_name_kana %><%= @customer.last_name_kana %></p>
  </div>
  <div>
    <p>郵便番号 <%= @customer.postal_code %></p>
  </div>
  <div>
    <p>住所 <%= @customer.address %></p>
  </div>
  <div>
    <p>電話番号 <%= @customer.telephone_number %></p>
  </div>
  <div>
    <p>メールアドレス <%= @customer.email %></p>
  </div>
  <div>
    <font>会員ステータス</font>
    <% if @customer.is_active == true %>
      <font class="text-success">有効</font>
    <% else %>
      <font>退会</font>
    <% end %>
  </div>
  <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
  <font class="btn btn-primary">注文履歴一覧を見る</font>
</div>
