<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3>注文履歴一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @ordes.each do |orde| %>
          <tr>
            <td><%= orde.created_at %></td>
            <td>
              〒<%= orde.postal_code %>
              <%= orde.address %>
              <%= orde.name %>
            </td>
            <td>
              <% orde.orders_details.each do |detail| %>
                <%= detail.item.name %>
              <% end %>
            </td>
            <td><%= orde.total_payment %></td>
            <td>
              <%= link_to "詳細", orde_path(orde), class: "btn btn-success" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
