<div class="container">
  <h3 class="page-tatle">ログイン</h3>
  <div class="row">
    <div class="col-12">
      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
        <label class="page-tatle mt-5 ml-3">会員の方はこちらからログイン</label>
        <div class="field row">
          <%= f.label "メールアドレス", class: "col-lg-2 ml-5" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-6" %>
        </div>
        <p></p>
        <div class="field row">
          <%= f.label "パスワード", class: "col-lg-2 ml-5" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-lg-6" %>
        </div>
        <p></p>
        <div class="actions row">
          <div class="col-4"></div>
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="col-12">
        <h3 class="page-tatle">会員登録がお済みでない方</h3>
      </div>
      <div class="col-12">
        <p class="ml-5"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</div>
